:root {
	--dropdown-border-radius: 4px;
}

.dropdown-combobox {
	color: #000000;
    height: 42px;
	line-height: 40px;
	min-width: 100px;
    border: 1px solid #98A2AF;
    border-radius: 4px;
	border-radius: var(--dropdown-border-radius);
	position: relative;
}
.dropdown-combobox.collapsed {
	position: relative;
	z-index: 50;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.dropdown-combobox-head {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dropdown-combobox .dropdown-combobox-item {
	padding: 0px 16px;
	font-weight: 500;
}

.dropdown-combobox .dropdown-combobox-items {
	max-height: 30vh;
	overflow-y: scroll;
	width: 100%;
	background: theme('colors.dropdown.bg');
	z-index: 10;
	border-radius: var(--dropdown-border-radius);
	box-shadow: 0 0 0 2px #797878;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.dropdown-combobox input.dropdown-combobox-item.dropdown-combobox-search {
	top: 0;
	left: 0;
	padding: 5px 10px;
	background-color: theme('colors.dropdown.bgSearch')!important;
	height: unset;
	width: 100%;
	height: 100%;
	display: none;
}
.dropdown-combobox.collapsed input.dropdown-combobox-item.dropdown-combobox-search {
	display: block;
}

.dropdown-combobox .dropdown-combobox-item.selected {
	background: theme('colors.dropdown.bgSelectedItem');
}

.dropdown-combobox .dropdown-combobox-item.current {
	background: theme('colors.dropdown.bg')!important;
}

.dropdown-combobox .dropdown-combobox-item:hover {
	background: theme('colors.dropdown.bgHighlight')!important;
}
