.textfield {
	padding: 2px 10px;
	transition: all 0.25s linear;
	border: 1px solid theme('colors.textField.border');
	border-radius: 5px;
	color: theme('colors.greyText.DEFAULT');
}
.textfield > input {
	background-color: theme('colors.textField.bg');
	border-radius: 5px !important;
}
.textfield:disabled {
	background-color: theme('colors.textField.bgDisabled');
}
.textfield:disabled > input {
	color: theme('colors.textField.textDisabled') !important;
}
